body{
  padding-top:15px;
      line-height: 0.5;
}

/*sign in*/
.p-2{
  margin-left: 120px
}
     .colors{
      padding: 20px;
            margin-right:7px;
         margin-bottom:12px;
       border-radius:50%

    }
.navbar-brand {
font-size:24px;
color:#222;
font-weight:600;
padding:25px
}
.form-control-lg{
    font-size: 1rem;
}

label{
margin-top: 5px;

}
h6{
  padding-top:10px;
}
.form-group .btn{
  justify-content:center;
}


.card-body{
  padding: 2.4rem;
  box-shadow: 2px 2px 2px #eee,
              -2px -2px 2px  #eee
}

footer{

height:223px;
background:#00ADEF;
margin-top:-155px;
    }
